{% extends "layout.html" %}

{% block title %}
History
{% endblock %}

{% block main %}
<h1>Transaction History</h1>
<table class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Stock</th>
                <th>Shares</th>
                <th>Purchase Price</th>
                <th>Current Price</th>
                <th>Total Value</th>
                <th>Running Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio %}
                <tr>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.purchase_price }}</td>
                    <td>{{ stock.current_price }}</td>
                    <td>{{ stock.total_value }}</td>
                    <td>{{ stock.running_total }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4"><strong>Cash</strong></td>
                <td><strong>{{ cash }}</strong></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
