{% extends "layout.html" %}

{% block title %}

{% endblock %}

{% block main %}
<table class="table">
        <thead>
            <tr>
                <th>Company</th>
                <th>Symbol</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
                <th>Running Total</th>
            </tr>
        </thead>
        <tbody>
            {% for stock in portfolio %}
                <tr>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.shares }}</td>
                    <td>{{ stock.price }}</td>
                    <td>{{ stock.total }}</td>
                    <td>{{ stock.running_total }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4"><strong>Cash</strong></td>
                <td><strong>{{ cash }}</strong></td>
            </tr>
        </tbody>
    </table>

{% endblock %}
